<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="templates/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic">
    <link rel="stylesheet" href="templates/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="templates/templates/assets/css/Brands.css">
    <link rel="stylesheet" href="templates/assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="templates/assets/css/Login-Form-Dark.css">
</head>

<body id="page-top">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-warning text-uppercase" id="mainNav">
        <div class="container"><a class="navbar-brand text-dark js-scroll-trigger" href="/" style="font-size: 30px;">Lockbox</a></div>
    </nav>
    <header class="text-center text-white bg-success masthead" style="background: rgb(21,214,121);padding: 8px 0px 10px;height: 213px;margin: 1;">
        <h1 style="padding: 117px;color: var(--gray-dark);text-align: center;font-size: 36px;">Welcome Admin!</h1>
    </header>
    <section id="portfolio" class="portfolio" style="transform: perspective(0px) translate(0px);transform-origin: top;height: 265.2px;padding: 0px 0px;"><a class="btn btn-secondary text-left" role="button" style="opacity: 1;transform: perspective(0px) translate(-36px);transform-origin: left;height: 40px;padding: 6px 12px;margin: 44px;" href="/admin/createEvent">Create New Event</a><a class="btn btn-primary" role="button" style="transform: translate(250px);background: var(--danger);margin: 1px;" href="admin/lock">Lock the Box!</a><a class="btn btn-primary" role="button" style="transform: translate(250px);background: var(--indigo);margin: 1px;" href="admin/unlock">Unlock the Box!</a>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th style="transform-origin: center;height: 40.6px;">Events</th>
                        <th>Date</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a class="btn btn-primary" role="button" style="transform: translate(332px);margin: 1;" href="/admin/deleteEvent/{{ eventName }}">Delete</a><a class="btn btn-primary active" role="button" style="transform: translate(197px);margin: 1px;" href="/admin/edit/{{ eventName }}">Edit</a><a href="/admin/event/{{ eventName }}">{{ eventName }}</a></td>
                        <td>Cell 1</td>
                        <td>Cell 2</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <script src="templates/assets/js/jquery.min.js"></script>
    <script src="templates/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="templates/assets/js/freelancer.js"></script>
</body>

</html>
