<!DOCTYPE html>
<html style="padding: 0px;height: 672px;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Brands.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Contact-Form-Clean.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Login-Form-Dark.css') }}">
</head>

<body id="page-top">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-warning text-uppercase" id="mainNav">
        <div class="container"><a class="navbar-brand text-dark js-scroll-trigger" href="/" style="font-size: 30px;">Lockbox</a></div>
    </nav>
    <header style="background: var(--primary);height: 210.2px;">
        <h1 style="padding: 117px;color: var(--gray-dark);text-align: center;font-size: 36px;">Create Event</h1>
    </header>
    <div class="form-group">

        <form action="/admin/createEvent" method="post"><label>Name of Event</label><input class="form-control" type="text" name="eventName" style="width: 400px;">
          <label>Date of Event</label><input class="form-control" type="text" name="date" style="width: 250px;">
          <label>Time of Event</label><input class="form-control" type="text" name="time" style="width: 250px;">
          <button class="btn btn-primary" type="submit">Create</button>
          <a class="btn btn-primary" role="button" style="transform: translate(3px);" href="/admin">Cancel</a>
        </form>
    </div>
</body>

</html>
