<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="templates/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic">
    <link rel="stylesheet" href="templates/assets/css/Brands.css">
    <link rel="stylesheet" href="templates/assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="templates/assets/css/Login-Form-Dark.css">
</head>

<body id="page-top">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-warning text-uppercase" id="mainNav">
        <div class="container"><a class="navbar-brand text-dark js-scroll-trigger" href="/" style="font-size: 30px;">Lockbox</a></div>
    </nav>
    <header style="background: var(--primary);height: 210.2px;">
        <h1 style="padding: 117px;color: var(--gray-dark);text-align: center;font-size: 36px;">Event Information</h1>
    </header>    <section id="portfolio" class="portfolio" style="transform: perspective(0px) translate(0px);transform-origin: top;height: 274.2px;padding: 9px 0px;">
        <h1 style="font-size: 34px;padding: 10px;margin: -8px;height: 75.8px;">{{ eventName }}</h1>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th style="transform-origin: center;height: 40.6px;width: 213.8px;">Device Name</th>
                        <th style="width: 203px;">Device Number</th>
                        <th>Device Controls</th>
                    </tr>
                </thead>
                <tbody>
                  {% for device in devices %}
                    <tr>
                        <td><a href="/admin/event/devices/{{ device[0] }}/{{ device[1] }}">{{ device[2] }}</a></td>
                        <td>{{ device[1] }}</td>
                        <td><a class="btn btn-primary" role="button" style="margin: 1px;background: var(--indigo);" href="/admin/event/lockDevice/{{ device[0] }}/{{ device[1] }}">Lock</a>
                          <a class="btn btn-primary" role="button" style="margin: 1px;background: var(--green);" href="/admin/event/unlockDevice/{{ device[0] }}/{{ device[1] }}">Unlock</a>
                          <a class="btn btn-primary" role="button" style="margin: 1px;background: var(--yellow);" href="/admin/event/checkout/{{ device[0] }}/{{ device[1] }}">Checkout</a>
                          <a class="btn btn-primary" role="button" style="margin: 1px;background: var(--red);" href="/admin/event/deleteDevice/{{ device[0] }}/{{ device[1] }}">Delete</a></td>
                    </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div><a class="btn btn-primary" role="button" style="margin: 10px;transform: translate(0px);" href="/admin">Back</a>
        <section style="padding: 39px 0px;">
            <h1 style="font-size: 28px;">Event Feedbacks</h1>
            <blockquote class="blockquote">
                <p class="mb-0">Guest Comments....</p>
                <footer class="blockquote-footer">Guest Name</footer>
            </blockquote>
        </section>
    </section>
    <script src="templates/assets/js/jquery.min.js"></script>
    <script src="templates/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="templates/assets/js/freelancer.js"></script>
</body>

</html>
