<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="../templates/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic">
    <link rel="stylesheet" href="../templates/assets/css/Brands.css">
    <link rel="stylesheet" href="../templates/assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="../templates/assets/css/Login-Form-Dark.css">
</head>

<body id="page-top">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-warning text-uppercase" id="mainNav">
        <div class="container"><a class="navbar-brand text-dark js-scroll-trigger" href="/" style="font-size: 30px;">Lockbox</a></div>
    </nav>
    <header style="background: var(--primary);height: 210.2px;">
        <h1 style="padding: 117px;color: var(--gray-dark);text-align: center;font-size: 36px;">Event Edit</h1>
    </header>    <section id="portfolio" class="portfolio" style="transform: perspective(0px) translate(0px);transform-origin: top;height: 274.2px;padding: 9px 0px;">
    <h1 style="font-size: 24;">Editing {{ eventName }}</h1>
    <div class="form-group">
        <form action="/admin/event/edit/{{ sessionId }}" method="post"><label>Name of Event</label><input class="form-control" type="text" name="eventName"><label>Date of Event</label><input class="form-control" type="text" placeholder="mm/dd/yy" name="date"><label>Time of Event</label><input class="form-control" type="text" name="time"><button class="btn btn-primary" type="submit">Create</button><a class="btn btn-primary" role="button" style="transform: translate(3px);" href="/admin">Cancel</a></form>
    </div>
    <script src="../templates/assets/js/jquery.min.js"></script>
    <script src="../templates/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="../templates/assets/js/freelancer.js"></script>
</body>

</html>
