<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>LockBox</title>
    <link rel="stylesheet" href="templates/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic">
    <link rel="stylesheet" href="templates/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="templates/assets/css/Brands.css">
    <link rel="stylesheet" href="templates/assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="templates/assets/css/Login-Form-Dark.css">
</head>

<body>
    <section class="login-dark">
        <form class="bg-warning" method="post" style="opacity: 0.86;background: rgb(255, 193, 7);">
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"></div><label style="border-color: var(--gray-dark);border-top-color: rgb(255,;border-right-color: 255,;border-bottom-color: 255);border-left-color: 255,;opacity: 1;color: var(--secondary);font-size: 16px;font-family: Montserrat, sans-serif;">Device Number</label>
            <div class="form-group"><input class="form-control" type="email" name="device"></div><label style="color: var(--secondary);font-family: Montserrat, sans-serif;">Passcode</label>
            <div class="form-group"><input class="form-control" type="password" name="passcode"></div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Enter</button></div>
        </form>
    </section>
    <script src="templates/assets/js/jquery.min.js"></script>
    <script src="templates/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="templates/assets/js/freelancer.js"></script>
</body>

</html>
