<!DOCTYPE html>
<html style="margin: -19px;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>LockBox - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Brands.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Contact-Form-Clean.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Login-Form-Dark.css') }}">
</head>

<body id="page-top">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-warning text-uppercase" id="mainNav">
        <div class="container"><a class="navbar-brand text-dark js-scroll-trigger" href="/" style="width: 133.15px;font-size: 30px;">LockBox</a></div>
    </nav>
    <header style="margin: 75px;"></header>
    <section id="portfolio" class="portfolio">
        <div class="container">
            <h1 class="text-uppercase text-center text-secondary">Welcome to lockbox</h1>
          </br>
          <h3>Please Select One</h3>
            <hr class="star-dark mb-5">
            <div class="row">
                <div class="col-md-6 col-lg-4"><a class="d-block mx-auto portfolio-item" href="/admin/login"><img class="img-fluid" src="{{ url_for('static', filename='admin.png') }}"></a></div>
                <div class="col-md-6 col-lg-4"><a class="d-block mx-auto portfolio-item" href="/guest/login"><img class="img-fluid" src="{{ url_for('static', filename='guest.png') }}"></a></div>
            </div>
        </div>
    </section>
</body>

</html>
